# Lab Assignment 6
#### This Lab task is to completed individually, Please Add your Name and ID Below, please comment your code thoroughly and name your variables wisely. (Grade out of 23, 3 marks for commented organized code.)
- Name: Aagnay kariyal
- ID: 8830232

### Question 1- DATA INTEGRATION:  (5)
Check the files inside microbiome folder, (MID1, MID2, ... , MID9.xls files), you need to combine those files into single dataframe.<br>
Then You will need to add to this dataframe the relevant metadata information from metadata.csv <br>
__Inspect the files before answering the question__

In [17]:
# Importing all the dependencies
import pandas as pd

In [18]:
numbers = range(1,10) # Creating a range to iterate through all the file names
new_dataframe = pd.DataFrame() # Creating a dataframe to store the values from all the files
# We iterate through the for loop to get values from each document and concatenate it to the dataframe
for num in numbers:
    path = '/Users/aagnaykariyal/Documents/Github/Conestoga/Machine Learning Programming/Lab 6/microbiome/MID'+str(num)+'.xls' # defining the path
    temp_df = pd.read_excel(path, header=None) # gathering the data
    temp_df['BARCODE'] = 'MID'+str(num) # Creating a new column to indicate the file/BARCODE name
    new_dataframe = pd.concat([new_dataframe, temp_df]) # Concatenating to the dataframe
new_dataframe # Checking the dataframe and the data

                                                     0   1 BARCODE
0    Archaea "Crenarchaeota" Thermoprotei Desulfuro...   7    MID1
1    Archaea "Crenarchaeota" Thermoprotei Desulfuro...   2    MID1
2    Archaea "Crenarchaeota" Thermoprotei Sulfoloba...   3    MID1
3    Archaea "Crenarchaeota" Thermoprotei Thermopro...   3    MID1
4    Archaea "Euryarchaeota" "Methanomicrobia" Meth...   7    MID1
..                                                 ...  ..     ...
276  Bacteria "Thermotogae" Thermotogae Thermotogal...  43    MID9
277  Bacteria "Thermotogae" Thermotogae Thermotogal...  16    MID9
278  Bacteria "Verrucomicrobia" Opitutae Opitutales...   1    MID9
279  Bacteria Cyanobacteria Cyanobacteria  Chloropl...   1    MID9
280  Bacteria Cyanobacteria Cyanobacteria  Chloropl...  10    MID9

[2396 rows x 3 columns]

In [19]:
df_metadata = pd.read_excel('/Users/aagnaykariyal/Documents/Github/Conestoga/Machine Learning Programming/Lab 6/microbiome/metadata.xls') # Gathering the metadata
df_metadata # Checking the dataframe

  BARCODE               GROUP  SAMPLE
0    MID1  EXTRACTION CONTROL     NaN
1    MID2               NEC 1  tissue
2    MID3           Control 1  tissue
3    MID4               NEC 2  tissue
4    MID5           Control 2  tissue
5    MID6               NEC 1   stool
6    MID7           Control 1   stool
7    MID8               NEC 2   stool
8    MID9           Control 2   stool

In [20]:
merged_df = pd.merge(new_dataframe, df_metadata) # Merging the metadata with the main dataframe
merged_df # Checking the dataframe

,0,1,BARCODE,GROUP,SAMPLE
0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",7,MID1,EXTRACTION CONTROL,NaN
1,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",2,MID1,EXTRACTION CONTROL,NaN
2,"Archaea ""Crenarchaeota"" Thermoprotei Sulfoloba...",3,MID1,EXTRACTION CONTROL,NaN
3,"Archaea ""Crenarchaeota"" Thermoprotei Thermopro...",3,MID1,EXTRACTION CONTROL,NaN
4,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",7,MID1,EXTRACTION CONTROL,NaN
...,...,...,...,...,...
2391,"Bacteria ""Thermotogae"" Thermotogae Thermotogal...",43,MID9,Control 2,stool
2392,"Bacteria ""Thermotogae"" Thermotogae Thermotogal...",16,MID9,Control 2,stool
2393,"Bacteria ""Verrucomicrobia"" Opitutae Opitutales...",1,MID9,Control 2,stool
2394,Bacteria Cyanobacteria Cyanobacteria Chloropl...,1,MID9,Control 2,stool
2395,Bacteria Cyanobacteria Cyanobacteria Chloropl...,10,MID9,Control 2,stool

### Question 2- Feature Engineering - Attribute Correlation (15)
- Load the file income_data.csv, inspect the columns.
- Determine if race and education features have a statistical relationship. 
- Explain and conclude your findings (7 till here)
- Inspect the dataset carefully and create an Indicator Feature (0/1) --(3 marks here)
- Inspect the dataset carefully and create an Interaction Feature (Additional feature engineered from your dataset)-- (3 marks here)<br>
__The features you create must be resonable, please add an explanation to explain why did you chose this indicator variable__

In [21]:
df_id = pd.read_csv('income_data.csv') # Loading the data into a dataframe
df_id # Checking the dataframe

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [22]:
# We are checking for a statistically significant relationship between race and education using the Chi-Square test
from scipy.stats import chi2_contingency # Importing the dependency
df_contingency = pd.crosstab(df_id['race'], df_id['education']) # Performing a cross-tabulation
chi2, p, dof, expected = chi2_contingency(df_contingency) # Performing a chi2 contingency to get the Chi-2 test statistic, p-value of the test, degrees of freedom and the expected frequencies
print(chi2, p) # From printing the p-value we could see that the value is extremely close to 0
# In this case we could conclude that the attributes do have a statistical relationship and the null-hypothesis has been rejected
# But we can proceed and calculate by using a threshold of 0.05 since it's common practice.
threshold = 0.05
if p<0.05:
    print("Null hypothesis rejected, attributes do have a statistical relationship")
else:
    print("Null hypothesis accepted, attributes do not have any statistical relationship")

1040.6622432490267 7.472985630264854e-179
Null hypothesis rejected, attributes do have a statistical relationship

In [23]:
print(df_id['income'].unique()) # printing out the unique values in column 'income'
# Since there are only two values in the column 'income', we can replace them with binary values
df_id['income'] = df_id['income'].replace({'<=50K':0,'>50K':1}) # Replacing values
df_id # Checking the dataset

['<=50K' '>50K']

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [24]:
# Creating a new feature to ge the net profit or loss based on capital gain and capital loss
df_id['net_profit_or_loss'] = df_id['capital-gain'] - df_id['capital-loss']
df_id # Checking the dataset

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,net_profit_or_loss
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1,0
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1,7688
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0,0
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1,0
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0,0
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0,0
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1,15024